<div class="col-md-4 shadowbox white boxmargin boxpadding ">
    <h3>  
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h3>

    <% if logged_in? && current_user == @user %>

      <br />




      <%= render 'new_video_form' %>


      <%#= link_to 'New video', new_youtubelist_path %>
    <% end %>
</div>
<div class="col-md-6 shadowbox whit white">
  <%= render 'tabs' %>
  <%= render 'site/youtubelist'%>
</div>
